* {
  font-family: Arial, Helvetica, sans-serif
}

h3 {
  color: white;
  font-style: italic;
}

p {
  padding-top: 40px;
  padding-left: 25px;
}

h4 {
  font-size: 18px;
}

/* add background image*/
body {

    font-family: Verdana, sans-serif;
    margin: 0;
}

.mySlides {
    display: none;
    
}

.images {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.navbar .navbar-dark  .bg-dark .container {
  line-height: 40px;
  width: 100%;
}
/* added style to buttons*/
#dropdownMenuButton {
  border-radius: 36px;
  width: 200px;
  text-align: left;
  margin-right: 5px;
}

#goButton {
  border-radius: 16px 0 16px 0;
}

.navbar-brand {
  width: 20%;
}

.navbar-brand img {
  height: 100px;
  width: auto
}

#application {
  align-items: center;
}

#weather {
  font: italic 11px Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 40px;
  padding-bottom: 5px;
  padding-left: 20px
}
.jumbotron .display-2 {
 
  font-style: bold;
  margin-left: 200px;
  margin-top: 100px;
  padding-top: 90px;
}

/* .display-4 {
  height: 30%;
} */
/* .lead {
  text-align: right;
  margin-right: 100px;
} */

.display-2 {
  padding-bottom: 180px;
}

.display-6 {
  line-height: 24px;
  font: 24pt;
  color:  rgb(75, 68, 146);
  text-align: right;
  padding-top: 60px;
  padding-bottom: 2px;
  padding-right: 60px;
}

.display-7 {
  font: 16pt;
  color:  rgb(75, 68, 146);
  text-align: right;
  line-height: 20px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 60px;
}
.images {
  width: 100%;
  height: auto;
  display: inline;
}

.image-container {
  padding-top: 200px;
  display: inline;
  margin-left: 0;
  margin-right: 0;
  
}

.city-sights {
  width: 100%;
  padding: 200px 100px 40px 100px;
  line-height: 700px;
 
}

